doctype html
html(lang="en")
  head
    base(href="/")
    title IEEE UCI
    meta(name="viewport" content="initial-scale=1")

    script(src="node_modules/es6-shim/es6-shim.min.js")
    script(src="node_modules/systemjs/dist/system-polyfills.js")
    script(src="node_modules/angular2/bundles/angular2-polyfills.js")
    script(src="node_modules/systemjs/dist/system.src.js")
    script(src="node_modules/rxjs/bundles/Rx.js")
    script(src="node_modules/angular2/bundles/angular2.dev.js")
    script(src="node_modules/angular2/bundles/router.dev.js")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")

    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")

    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    script(src="./js/main.js")

    script.
      System.config({
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('app/boot')
            .then(null, console.error.bind(console));

  body
    my-app Loading...

  